<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

      <div class="container">
            <nav class="navbar navbar-default">
                <a class="navbar-brand" href="/">Movies API</a>
                <div>
                    <br>
                    {% block content %}{% endblock %}
                 </div>
            </nav>
      </div>

    </body>

</html>

