{% extends 'base.html' %}

{% block content %}
  <h2>search for movie</h2>

  <form method="post" label="title">
      {% csrf_token %}
      {{ form.as_table }}
    <button type="submit" action="{{ form.search }}">search</button>
  </form>

  {% if search_result %}
    <hr>
    {% if search_result.success %}
      {% for result in search_result.results %}
        <h3>{{ result.title }}</h3>

      {% endfor %}
    {% else %}
      <p><em>{{ search_result.message }}</em></p>
    {% endif %}
  {% endif %}

{% endblock %}